*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #ffc2d1;
}

.container {
    width: 90%;
    max-width: 470px;
    background-color: #ff8fab;
    color: white;
    border-radius: 20px;
    margin: 100px auto;
    padding: 40px 35px;
    text-align: center;
}

.search {
    width: 100%;
    display: flex;
    align-items: center; /*Vertical aligmet*/
    justify-content: space-between; /*horizontal alignment*/
}

.search input {
    border: 0;
    outline: 0;
    background-color: white;
    color: #3c280d;
    padding: 10px 25px;
    height: 60px;
    flex: 1;
    border-radius: 30px;
    margin-right: 16px;
    font-size: 18px;
}

.search button {
   border: 0;
   outline: 0;
   background-color: white;
   border-radius: 50%;
   width: 60px;
   height: 60px;
   cursor: pointer;
}